@import "tailwindcss";

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Optional: smooth transitions for dark mode later */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 8.5rem;
}

.note-title{
  /* block text-lg font-medium text-gray-700 mb-3 */
  display: block;
  font-size: 1.12rem;
  font-weight: 500;
  color: #364153;
  margin-bottom: .45rem;
}

.note-content {
  width: 100%;
  padding: 16px 24px;
  font-size: 1.12rem;
  color: #101828;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  outline: none;
}

.note-content:focus {
  border-color: oklch(58.5% 0.233 277.117);
}

.submit-btn {
  padding: 20px 40px; /* py-5 px-10 */
  background: linear-gradient(to right, #4f46e5, #9333ea); /* indigo-600 → purple-600 */
  color: #ffffff;
  font-size: 1.25rem; /* text-xl */
  font-weight: 700; /* font-bold */
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  transition: transform 300ms ease, box-shadow 300ms ease;
  cursor: pointer;
}

/* Hover effects */
.submit-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(99, 102, 241, 0.5); /* indigo-500/50 */
}

/* Disabled state */
.submit-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


.cancel-btn {
  padding: 20px 40px; /* py-5 px-10 */
  background-color: #d1d5db; /* gray-300 */
  color: #1f2937; /* gray-800 */
  font-size: 1.25rem; /* text-xl */
  font-weight: 700; /* font-bold */
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
  transition: background-color 150ms ease, box-shadow 150ms ease;
  cursor: pointer;
}

/* Hover state */
.cancel-btn:hover {
  background-color: #9ca3af; /* gray-400 */
}

.pattern-bg {
  background-image: url('/patterns/dots-pattern.svg');
  background-repeat: repeat;
}


