@import "tailwindcss";
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 8.5rem;
}

.note-title{
  display: block;
  font-size: 1.12rem;
  font-weight: 500;
  color: #364153;
  margin-bottom: .45rem;
}

.note-content {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  color: #101828;
  border: 1px solid #d1d5dc;
  border-radius: 0.5rem;
  outline: none;
}

.note-content:focus {
  border-color: #615fff;
  /* box-shadow: 0 0 0 3px #615fff; */
}

@media (min-width: 640px) {
  .note-content {
    padding: 16px 24px;
    font-size: 1.125rem;
    border-radius: 1rem;
  }
}

.submit-btn {
  padding: 16px 32px; 
  background: linear-gradient(to right, #615fff, #459ddb); 
  color: #ffffff;
  font-size: 1.125rem; 
  font-weight: 700; 
  border-radius: 0.75rem; 
  transition: transform 300ms ease, box-shadow 300ms ease;
  cursor: pointer;
  border: none;
}


.submit-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(99, 102, 241, 0.5); 
}


.submit-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


@media (max-width: 640px) {
  .submit-btn {
    padding: 12px 24px;
    font-size: 1rem;
  }
}


.cancel-btn {
  padding: 16px 32px; 
  background-color: #e5e7eb; 
  color: #374151; 
  font-size: 1.125rem;
  font-weight: 700; 
  border-radius: 1rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  transition: background-color 150ms ease, box-shadow 150ms ease;
  cursor: pointer;
  border: none;
}


.cancel-btn:hover {
  background-color: #d1d5db; 
}


@media (max-width: 640px) {
  .cancel-btn {
    padding: 12px 24px;
    font-size: 1rem;
  }
}



